<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <title>Document</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/logo.png" alt="LOGO OLOS">
            <h1>Treinamento</h1>
            <div>
                
            </div>

        </section>
        
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"> <i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#procedimentos"> <i class="bi bi-pass"></i> Procedimentos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#check-list"> <i class="bi bi-card-checklist"></i> Check-list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#download"> <i class="bi bi-download"></i> Download</a>
                  </li>
              </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
          <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
            <h2 class=" text-shadow">Treinamento OLOS</h2>
            <span>Área de treinamento operacional</span>
          </div>
          <div class="col-md-7 d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
              <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#procedimentos">Arraste para mais</a>
            </div>
          </div>

        </section>

        <section class="container mt-5 " id='procedimentos'>
          <div class="row w-100">
            <div class="col-md-12">
              <h2 class="pt-3">Procedimentos</h2>
              <p>Procedimento Instalação de Softphone WebRTC (Baseado em Web)</p>
            </div>
          </div>

          <div class="row md-4">
            <div class="col-md-4">
              <img  class="img-fluid" src="../static/img/OLOS.png" alt="treinamento_olos">
            </div>
          </div>
    
    
        </section>


        <section class="container mt-5 " id="check-list">
          <h1>Área de check list</h1>
          <p>Área de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check listÁrea de check list</p>

        </section>

        <section class="mt-5 section-bg" id="download">
          <div class="container pb-5">
            <h2 class="pt-5">Download de treinamentos</h2>
            <p>Sejá bem vindo a área de downloads, aqui será possível efetuar o download de todos os treinamentos disponíveis</p>
            <a href=""></a>
            <div class="row">
              <ul>
                <li>
                  <div class="col-md-6">
                    <p class="mt-3 mb-0">Instalação de Softphone WebRTC </p>
                    <img  class="img-fluid" src="../static/img/OLOS.png" alt="treinamento_olos">
                    <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1Pe_zcxAvmaaAIMVmPFAAEk3ta5TWxjKe/view?usp=sharing" role="button">BAIXAR</a>
                    
                  </div>
                </li>
              </ul>
              <div class="col-md-6">
                
              </div>
            </div>
          </div>

        </section>
        

    </main>
    
    


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>